@tailwind components;

@layer components {
  .container-fluid {
    @apply container max-w-screen-2xl;
  }
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #6A0572 !important;
}


.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal{
  top: auto !important;
  bottom: 0 !important;
}

:root{
  --swiper-pagination-color: #6A0572
}